<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>anhyrlpb@tznvy.pbz</string>
	<key>contactName</key>
	<string>Noriko Yamamoto</string>
	<key>description</key>
	<string>NuSMV</string>
	<key>name</key>
	<string>NuSMV</string>
	<key>uuid</key>
	<string>6DC1F504-1F7C-4201-BB2E-C667EF631D19</string>
</dict>
</plist>
